@font-face {
    font-family: myFirstFont;
    src: url(/fonts/Proxima/FontsFree-Net-Proxima-Nova-Bold.otf);
}
@font-face {
    font-family: myFirstSecond;
    src: url(/fonts/Averta/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: myFirstSecond;
}
a {
    text-decoration: none;
    color: black;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0px 20px 0px 20px;
}
img {
    max-width: 600px;
    border-radius: 20px;
    transition: all .6s ease;
    &:hover {
        transform: scale(1.2);
    }
}
section {
    padding-top: 100px;
}
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
    background: rgb(174,225,238);
    background: linear-gradient(90deg, rgba(174,225,238,1) 0%, rgba(177,233,148,1) 100%);
}
.header_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-family: myFirstFont;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    .header__logo__img {
        width: 48px;
    }
}
.header__burger {
}
.burger {
}
.burger_con {
    width: 50px;
    height: 30px;
    cursor: pointer;
    transition: all .6s ease;
}
.burger_con_active {
    transform: rotate(90deg);
}
.burger_con_line {
    width: 100%;
    background: black;
    display: block;
    height: 4px;
    margin-top: 9px;
    border-radius: 50px;
}
.header__menu {
    height: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .6s ease;
}
.header__menu_active {
    height: 250px;
}
.header__menu__nav__list {
    list-style-type: none;
}
.nav__list__item {
    text-decoration: none;
    &:not(:last-child) {
        padding-bottom: 30px;
    }
    a::after {
        content: "";
        display: block;
        height: 2px;
        width: 0px;
        background: black;
        transition: all .6s ease;
    }
    a:hover::after {
        width: 100%;
    }
}
@media (max-width: 362px) {
    .header__logo {
        font-size: 25px;
    }
}
// Welcome
.welcome {
    opacity: 0;
    transition: all .6s ease;
    // background: rgb(155, 201, 155);
    background: rgb(174,225,238);
    background: linear-gradient(90deg, rgba(174,225,238,1) 0%, rgba(177,233,148,1) 100%);
    padding-bottom: 50px;
}
.welcome__active {
    opacity: 1;
}
.welcome_con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.welcome_con__left {
}
.left {
    max-width: 500px;
}
.left__title {
    font-size: 40px;
    line-height: 49px;
}
.left__describe {
    margin: 40px 0px 33px 0px;
    line-height: 160%;
    color: #565656;
}
.left__btn {
    background: #2639ED;
    color: #fff;
    border-radius: 60px;
    font-size: 20px;
    letter-spacing: 0.065em;
    padding: 15px 40px 15px 40px;
    border: none;
    cursor: pointer;
    transition: all .8s ease;
    &:hover {
        background: rgb(84, 109, 84);
    }
}
.welcome_con__rigth {
}
.right {
}
.right__block {
    overflow: hidden;
    border-radius: 20px;
}
@media (max-width: 1140px) {
    .welcome_con {
        flex-direction: column;
        justify-content: center;
    }
    .left {
        text-align: center;
        margin-bottom: 20px;
    }
}
@media (max-width: 654px) {
    .welcome {
        img {
            max-width: 400px;
        }
    }
}
@media (max-width: 495px) {
    .welcome {
        img {
            max-width: 250px;
        }
    }
     .left__title {
        font-size: 30px;
     }
     .left__describe {
        font-size: 15px;
     }
}
// gallery
.gallery {
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        max-width: 1389px;
    }
}
.gallery__arrow {
    width: 60px;
    cursor: pointer;
}
.gallery_slider {
    -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
}
