@font-face {
    font-family: myFirstFont;
    src: url(/fonts/Proxima/FontsFree-Net-Proxima-Nova-Bold.otf);
}
@font-face {
    font-family: myFirstSecond;
    src: url(/fonts/Averta/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: myFirstSecond;
}
a {
    text-decoration: none;
    color: black;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0px 20px 0px 20px;
}
img {
    max-width: 600px;
    border-radius: 20px;
    transition: all .6s ease;
    &:hover {
        transform: scale(1.2);
    }
}
section {
    padding-top: 100px;
}
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
    background: rgb(174,225,238);
    background: linear-gradient(90deg, rgba(174,225,238,1) 0%, rgba(177,233,148,1) 100%);
}
.header_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-family: myFirstFont;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    .header__logo__img {
        width: 48px;
    }
}
.header__burger {
}
.burger {
}
.burger_con {
    width: 50px;
    height: 30px;
    cursor: pointer;
    transition: all .6s ease;
}
.burger_con_active {
    transform: rotate(90deg);
}
.burger_con_line {
    width: 100%;
    background: black;
    display: block;
    height: 4px;
    margin-top: 9px;
    border-radius: 50px;
}
.header__menu {
    height: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .6s ease;
}
.header__menu_active {
    height: 250px;
}
.header__menu__nav__list {
    list-style-type: none;
}
.nav__list__item {
    text-decoration: none;
    &:not(:last-child) {
        padding-bottom: 30px;
    }
    a::after {
        content: "";
        display: block;
        height: 2px;
        width: 0px;
        background: black;
        transition: all .6s ease;
    }
    a:hover::after {
        width: 100%;
    }
}
@media (max-width: 362px) {
    .header__logo {
        font-size: 25px;
    }
}
// Welcome
.welcome {
    opacity: 0;
    transition: all .6s ease;
    background: rgb(174,225,238);
    background: linear-gradient(90deg, rgba(174,225,238,1) 0%, rgba(177,233,148,1) 100%);
    padding-bottom: 50px;
}
.welcome__active {
    opacity: 1;
}
.welcome_con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.welcome_con__left {
}
.left {
    max-width: 500px;
}
.left__title {
    font-size: 40px;
    line-height: 49px;
}
.left__describe {
    margin: 40px 0px 33px 0px;
    line-height: 160%;
    color: #565656;
}
.left__btn {
    background: #2639ED;
    color: #fff;
    border-radius: 60px;
    font-size: 20px;
    letter-spacing: 0.065em;
    padding: 15px 40px 15px 40px;
    border: none;
    cursor: pointer;
    transition: all .8s ease;
    &:hover {
        background: rgb(84, 109, 84);
    }
}
.welcome_con__rigth {
}
.right {
}
.right__block {
    overflow: hidden;
    border-radius: 20px;
}
@media (max-width: 1180px) {
    .welcome_con {
        flex-direction: column;
        justify-content: center;
    }
    .left {
        text-align: center;
        margin-bottom: 20px;
    }
}
@media (max-width: 654px) {
    .welcome {
        img {
            max-width: 400px;
        }
    }
}
@media (max-width: 495px) {
    .welcome {
        img {
            max-width: 250px;
        }
    }
     .left__title {
        font-size: 30px;
     }
     .left__describe {
        font-size: 15px;
     }
}
// gallery
.gallery {
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1389px;
    }
}
.gallery_img {
    overflow: hidden;
    border-radius: 20px;
}
.gallery_slider__mobile {
    display: none;
    .gallery_slider__gallery {
        padding-bottom: 20px;
    }
}
.gallery__title {
    text-align: center;
    font-size: 45px;
    margin-bottom: 40px;
}
.gallery__arrow {
    width: 60px;
    cursor: pointer;
}
.gallery_slider {
    -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
   height: 451px;
}
.gallery_slider__gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.gallery__progress {
    text-align: center;
    padding-top: 50px;
}
.gallery__progress__btn {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #000;
}
.progress_active {
    background: #000;
}
@media (max-width: 1346px) {
    .gallery {
        height: 1000px;
    }
    .gallery_slider__gallery {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .left {
        text-align: center;
    }
    .gallery__progress {
        display: none;
    }
}
@media (max-width: 750px) {
    .gallery_img {
        img {
            width: 100%;
        }
    }
}
@media (max-width: 580px) {
    .gallery {
        height: 2200px;
    }
    .gallery__title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .gallery_con__left {
        .left__title {
            font-size: 20px;
        }
    }
    .left__describe {
        font-size: 14px;
    }
    .gallery__arrow {
        display: none;
    }
    .gallery_slider__mobile {
        display: block;
    }
}
@media (max-width: 470px) {
    .gallery {
        height: 1800px;
    }
    section {
        padding-top: 50px;
    }
    .gallery__title {
        margin-bottom: 10px;
    }
    .gallery_slider__gallery {
        gap: 30px;
    }
    .left__describe {
        margin: 15px 0px 15px 0px;
    }
}
@media (max-width: 420px) {
    .gallery {
        height: 1644px;
    }
}
// LOCATION
iframe {
    width: 100%;
    height: 400px;
    border-radius: 20px;
}
.location {
    background: #aee1ee;
    padding-bottom: 50px;
}
.location_con {
}
.location_con_title {
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
}
.location_con_info {
}
.location_con_info_map {
}
.location_con_info_description {
}
@media (max-width: 590px) {
    .location_con_title {
        font-size: 25px;
        img {
            max-width: 60px;
        }
    }    
}

// Places

.places {
    padding-top: 100px;
    background: #25291f;
}
.places_con {
}
.plase_con__title {
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
}
.places_con_photo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
    img {
        max-width: 300px;
        &:nth-child(2) {
            max-width: 400px;
        }
    }
}
@media (max-width: 1130px) {
    .places_con_photo {
        img {
            width: 25%;
        }
    }
}
@media (max-width: 639px) {
    .places_con_photo {
        display: block;
        text-align: center;
        padding-bottom: 0;
        img {
            display: inline;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}
  