@font-face {
  font-family: myFirstFont;
  src: url(/fonts/Proxima/FontsFree-Net-Proxima-Nova-Bold.otf);
}
@font-face {
  font-family: myFirstSecond;
  src: url(/fonts/Averta/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: myFirstSecond;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0px 20px 0px 20px;
}

img {
  max-width: 600px;
  border-radius: 20px;
  transition: all 0.6s ease;
}
img:hover {
  transform: scale(1.2);
}

section {
  padding-top: 100px;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid black;
  background: rgb(174, 225, 238);
  background: linear-gradient(90deg, rgb(174, 225, 238) 0%, rgb(177, 233, 148) 100%);
}

.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: myFirstFont;
  font-size: 32px;
  display: flex;
  flex-direction: column;
}
.header__logo .header__logo__img {
  width: 48px;
}

.burger_con {
  width: 50px;
  height: 30px;
  cursor: pointer;
  transition: all 0.6s ease;
}

.burger_con_active {
  transform: rotate(90deg);
}

.burger_con_line {
  width: 100%;
  background: black;
  display: block;
  height: 4px;
  margin-top: 9px;
  border-radius: 50px;
}

.header__menu {
  height: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
}

.header__menu_active {
  height: 250px;
}

.header__menu__nav__list {
  list-style-type: none;
}

.nav__list__item {
  text-decoration: none;
}
.nav__list__item:not(:last-child) {
  padding-bottom: 30px;
}
.nav__list__item a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: black;
  transition: all 0.6s ease;
}
.nav__list__item a:hover::after {
  width: 100%;
}

@media (max-width: 362px) {
  .header__logo {
    font-size: 25px;
  }
}
.welcome {
  opacity: 0;
  transition: all 0.6s ease;
  background: rgb(174, 225, 238);
  background: linear-gradient(90deg, rgb(174, 225, 238) 0%, rgb(177, 233, 148) 100%);
  padding-bottom: 50px;
}

.welcome__active {
  opacity: 1;
}

.welcome_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.left {
  max-width: 500px;
}

.left__title {
  font-size: 40px;
  line-height: 49px;
}

.left__describe {
  margin: 40px 0px 33px 0px;
  line-height: 160%;
  color: #565656;
}

.left__btn {
  background: #2639ED;
  color: #fff;
  border-radius: 60px;
  font-size: 20px;
  letter-spacing: 0.065em;
  padding: 15px 40px 15px 40px;
  border: none;
  cursor: pointer;
  transition: all 0.8s ease;
}
.left__btn:hover {
  background: rgb(84, 109, 84);
}

.right__block {
  overflow: hidden;
  border-radius: 20px;
}

@media (max-width: 1180px) {
  .welcome_con {
    flex-direction: column;
    justify-content: center;
  }
  .left {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 654px) {
  .welcome img {
    max-width: 400px;
  }
}
@media (max-width: 495px) {
  .welcome img {
    max-width: 250px;
  }
  .left__title {
    font-size: 30px;
  }
  .left__describe {
    font-size: 15px;
  }
}
.gallery .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1389px;
}

.gallery_img {
  overflow: hidden;
  border-radius: 20px;
}

.gallery_slider__mobile {
  display: none;
}
.gallery_slider__mobile .gallery_slider__gallery {
  padding-bottom: 20px;
}

.gallery__title {
  text-align: center;
  font-size: 45px;
  margin-bottom: 40px;
}

.gallery__arrow {
  width: 60px;
  cursor: pointer;
}

.gallery_slider {
  transition: opacity 0.5s ease-in-out;
  height: 451px;
}

.gallery_slider__gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.gallery__progress {
  text-align: center;
  padding-top: 50px;
}

.gallery__progress__btn {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #000;
}

.progress_active {
  background: #000;
}

@media (max-width: 1346px) {
  .gallery_slider__gallery {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .left {
    text-align: center;
  }
  .gallery__progress {
    display: none;
  }
}
@media (max-width: 750px) {
  .gallery_img img {
    width: 100%;
  }
}
@media (max-width: 580px) {
  .gallery__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .gallery_con__left .left__title {
    font-size: 20px;
  }
  .left__describe {
    font-size: 14px;
  }
  .gallery__arrow {
    display: none;
  }
  .gallery_slider__mobile {
    display: block;
  }
}
@media (max-width: 470px) {
  section {
    padding-top: 50px;
  }
  .gallery__title {
    margin-bottom: 10px;
  }
  .gallery_slider__gallery {
    gap: 30px;
  }
  .left__describe {
    margin: 15px 0px 15px 0px;
  }
}
iframe {
  width: 100%;
  height: 400px;
  border-radius: 20px;
}

.location {
  background: #aee1ee;
}

.location_con_title {
  font-size: 45px;
  text-align: center;
  margin-bottom: 50px;
}/*# sourceMappingURL=style.css.map */